

@import "src/crowley-themes.scss";
.main-container {
	padding: 0% 30px 5% 0px;
	display: flex;
	.main-section {
		width: 100%;
		margin: 0 0 0 30px;
		display: flex;
		mat-card {
			background: $white;
			border-radius: initial;
			box-shadow: 0px 0 10px 1px rgba(0.24, 0.24, 0.24, 0.24);
			padding: 30px 30px;
			width: 100%;
			.header-section {
				p:nth-child(1) {
					font-size: 46px;
					color: $crowley_font;
					margin: 0px 0px 30px 0px;
				}
				button {
					color: $accent;
					float: right;
					margin: -4% 0% 3% 0%;
					font-size: 14px;
					font-weight: 500;
					cursor: pointer;
					background-color: $white;
					letter-spacing: 1px;
                }
			}
			.top-section {
				display: flex;
				width: 100%;
				.left-section {
					width: 50%;
					div {
						p:first-of-type {
							color: $crowley_border_gray;
							font-size: 12px;
						}
						p:nth-child(2), p:nth-child(3) {
							color: $black;
							font-size: 16px;
							width: 90%;
						}
					}
					.dateType {
						display: flex;
						width: 50%;
						justify-content: space-between;
					}
				}
				.right-section {
					width: 50%;
					div {
						p:first-of-type {
							color: $crowley_border_gray;
							font-size: 12px;
						}
						p:nth-child(2), p:nth-child(3) {
							color: $black;
							font-size: 16px;
						}
					}
				}
			}
			.bottom {
				.comment-section {
					margin: 3% 0px 0px 0px;
					table {
						width: 100%;
						textarea {
							width: 100%;
							border: none;
							outline: none;
							border-bottom: solid 0.5px $crowley_border_gray;
							background-color: $white;
							height: 40px;
						}
					}
				}
				.bottom-section {
					margin: 3% 0px 0px 0px;
					.details-table {
						width: 100%;
						mat-header-cell {
							color: $accent;
						}
						.attachments:hover{         
							background-color: $crowley_gray;
							cursor: pointer;
						  }
					}
				}
			}
		}
	}
			 
}
.main-container1{
	display: none;
}
@media only screen and (max-width:812px) {
	.main-container{display: none;}	
	.main-container1{		
		display: block;		
		.main-section {
			width: 100%;
			margin-top: 60px;
			margin-bottom: 45px;
			mat-card {
				background: $white;				
				width: 100%;
				box-shadow: none;
				padding: 15px;
				border-radius: none;
				.header-section {
					margin-bottom: 15px;
					p:nth-child(1) {
						font-size: 25px;
						color: $crowley_font;
						margin: 0px;
						letter-spacing: 0;
						line-height: 1em;
					}
					button {
						color: $accent;						
						font-weight: 500;
						letter-spacing: 1px;
						cursor: pointer;
						background-color: $white;						
						border: 1px solid #0957a3 !important;
						width: 100%;
						margin-top: 20px;
						padding: 12px;
						border-radius: 5px;
					}
				}
				.Crowley-Incident-details{
					label{
						color: rgba(0, 0, 0, 0.6);
						font-size: 12px;
						margin-bottom: 3px;
					}
					p{
						color: rgba(0, 0, 0, 0.87);
						font-size: 16px;	
						margin-bottom: 5px;
					}
					&__row-1{
						display: flex;
						justify-content: space-between;
						padding: 0 10px;
						margin-bottom: 15px;
						& div{
							width: 55%;
							margin-right: 5%;
							&:last-child{
								width: 40%;
								margin-right: 0;
							}
						}
					}
					.mat-expansion-panel{
						margin-bottom: 15px;				
						.mat-expansion-panel-header{
							padding: 0 15px !important;
							font-size: 18px;
							font-weight: 500;
							background-color: #f3f3f3;
							&.mat-expanded{
								background-color: #f3f3f3;
								border-radius: 5px 0px 0px;
								margin-bottom: 20px;
							}
						}
						::ng-deep .mat-expansion-panel-body {
							padding: 0 15px !important;
						}	
						.mat-expansion-panel-header-title, .mat-expansion-panel-header-description{
							display: block !important;
							margin-right: 0px !important;
						}
						
					}
					.comment-section {						
						table {
							width: 100%;
							textarea {
								width: 100%;
								border: none;
								outline: none;
								border-bottom: solid 0.5px $crowley_border_gray;
								background-color: $white;
								height: 45px;
								margin-bottom: 20px;
							}
						}
					}
					.bottom-section {
						margin-bottom: 20px;
						.details-table {
							width: 100%;
							mat-header-cell {
								color: $accent;
							}
							.attachments:hover{         
								background-color: $crowley_gray;
								cursor: pointer;
							  }
						}
					}
					.mat-list-base{
						padding-top: 0px;
						.mat-list-item, .mat-list-option{
							border-bottom: 1px solid $crowley_warmGrey;
							padding-bottom: 10px;
							margin-bottom: 10px;
							height: auto !important;
							position: relative;			
							&:last-child{ border-bottom: none;}
							.two-col-item{
								display: flex;
								justify-content: space-between;
							}
							.item{
								h4{ color: rgba(0, 0, 0, 0.6);
									font-size: 12px;
									margin-bottom: 0 !important;}
								P{margin-bottom: 5px; word-break: break-all;}						
							}
							.icon{
								mat-icon {
									position: absolute;
									right: -22px;
									top: 35px;
								}
							  }
						}
					}
					::ng-deep .mat-list-base .mat-list-item ::ng-deep .mat-list-item-content, ::ng-deep .mat-list-base .mat-list-option ::ng-deep .mat-list-item-content{
						display: block !important;
						padding: 0 !important;
						width: 95%;
					}
					.mat-list-base .mat-list-item .mat-list-icon, .mat-list-base .mat-list-option .mat-list-icon {						
						width: 35px;
						height: 35px;
						font-size: 35px;						
						padding: 0;
						margin-left: -4px;
						margin-right: 10px;
					}
				}		
				
			}
		}
				 
	}
}


