@import "src/crowley-themes.scss";
@import "../../../../../Styles/mixins.scss";

.main-container {
	padding: 0% 30px 5% 0px;
	display: flex;
	.main-section {
		width: 100%;
		margin: 0 0 0 20px;
		display: flex;
		form {
			width: 100%;
			display: flex;
		}
		mat-card {
			background: $white;
			border-radius: initial;
			box-shadow: 0px 0 10px 1px rgba(0.24, 0.24, 0.24, 0.24);
			padding: 30px 30px;
			width: 100%;
		
			.first-section {
				p:nth-child(1) {
					font-size: 46px;
					color: $crowley_font;
					margin: 0px 0px 30px 0px;
				}
				button {
					color: $accent;
					float: right;
					margin: -4% 0% 3% 0%;
					font-weight: 500;
					cursor: pointer;
					background-color: $white;
					letter-spacing: 1px;
				}
			}
			 ::ng-deep.mat-form-field-ripple {
				background-color: $black !important;
				caret-color: auto;
			}
			::ng-deep .mat-focused .mat-form-field-label {
				color: $black !important;
			}
			::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
				
				background-color: $crowley_border_gray; 
			} 
			.left-section {
				padding: 5px 0px 5px 1px;
				width: 70%;
				p {
					color: $black;
					font-size: 15px;
				}
				p:nth-child(1) {
					margin: 0px 0px 6px 0px; 
				}
				.one {
					display: flex;
					margin-bottom: 25px;
					mat-select {
						
						padding: 0px 0px 5px 0px;
						border-bottom: solid 0.5px $crowley_border_gray;
						margin-top: 14px;
					}
					div:first-child {
						width: 15em;
						margin-right: 20px;
					} 
					div:last-child {
						width: 29.3em;
					}
				}
				.two {
					display: flex;
					margin-bottom: 32px;
					div {
						margin-right: 20px;
						mat-select {
							//m
							width: 15em;
							padding: 0px 0px 5px 0px;
							border-bottom: solid 0.5px $crowley_border_gray;
							margin-top: 14px;
							::ng-deep.mat-select-placeholder {
								color: black;
								font-size: 14px;
							}
						}
					}
					div:last-child {
						input {
							width: 29.3em;
							border-bottom: solid 0.5px $crowley_border_gray;
							margin-top: 44px;
						}
					}
				}
				.three {
					div {
						margin-bottom: -16px;
						display: flex;
						p {
							margin: 0px 0px 10px 0px;
						}
						.dateQualifier {
							mat-select {
								width: 10em;
                                padding: 0px 0px 5px 0px;
                                border-bottom: solid 0.5px $crowley_border_gray;
                                margin-top: 16%;
                                margin-left: -42%;
                                margin-bottom: 27%;
							}
						}
						.dateQualifierValue {
							mat-select {
								width: 15em;
                                padding: 0px 0px 5px 0px;
                                border-bottom: solid 0.5px $crowley_border_gray;
                                margin-top: 18%;
                                margin-left: -36%;
                                margin-bottom: 32%;
							}
						}
						div:last-child {
							margin-top: 11px;
							mat-form-field {
								width: 13.1em;
							}
							::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
								margin-top: 2.5px; 
                                margin-left: -54px;
							}
							mat-datepicker-toggle,
							mat-icon {
								color: $black;
								margin-left: -24px;
								width: 24em;
							}
						}
						.relative {
							mat-select {
								width: 100%;
								border-bottom: solid 0.5px $crowley_border_gray;
								margin: 33px 0px 63px 18px;
							}
		
							mat-form-field {
								width: 10% !important;
    							margin: 12px 0px 11px -14px;
							}
						}
						.blank {
							.firstBlank {
								mat-form-field {
									margin: 11px 80px 0px -30px;
								}
							}

							// .secondBlank {
							// 	mat-form-field {
							// 	}
							// }

						}
					}
				}

				.four {
					div {
						.dateQualifier {
							mat-select {
								margin-left: -50%;
							}
						}

						.dateQualifierValue {
							mat-select {
								margin-top: 21%;
                                margin-left: -54%;
                                margin-bottom: 36.5%;
							}
						}

						div:last-child {
							::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
								margin-top: 10px !important;
								margin-left: -92px !important;
								width: 129% !important;
							}
						}

						.relative {
							mat-form-field {
								width: 20% !important;
								margin: 11px 0px 0px -35%;
							}

							mat-select {
								width: 65%;
								border-bottom: solid 0.5px #808080;
								margin: 40px 0px 70px 11px;
							}
						}
					}
				}
				.five {
					div {
						margin-bottom: 32px;
						div {
							display: flex;
							input {
								width: 8.75em;
								padding: 0px 20px 5px 0px;
								border-bottom: solid 0.5px $crowley_border_gray;
								margin-right: 20px;
								margin-top: 12px;
							}
							mat-select {
								width: 18.4em;
								padding: 0px 0px 5px 0px;
								border-bottom: solid 0.5px $crowley_border_gray;
								margin-top: 12px;
								margin-right: 20px;
							}
						}
						.location {
							input {
								margin-top: 15px;
								width: 48.4em;
								padding: 0px 20px 5px 0px;
								border-bottom: solid 0.5px $crowley_border_gray;
							}
							mat-icon {
								margin-left: -48px;
								color: $black;
								margin-top: 12px;
							}
						}
					}
				}
				.six {
					margin-bottom: 32px;
					mat-select {
						width: 45.8em;
						padding: 0px 0px 5px 0px;
						border-bottom: solid 0.5px $crowley_border_gray;
						margin-top: 12px;
						margin-right: 20px;
					}
				}
			}
			.right-section {
				width: 35%;
				padding: 0;
				margin-right: -35px;
				p {
					color: $black;
					font-size: 15px;
				}
				div:nth-child(1) {
					mat-radio-group {
						flex-direction: column;
						display: flex;
						margin: -3px 0;
					}
				}
				div:nth-child(2) {
					p {
						margin-top: 11%;
						margin-bottom: 5px;
					}
					mat-form-field {
						width: 90%;
					}
				}
			}
			.bottom {
				.button {
					margin-top: 20px;
					padding: 16px;
					width: 100%;
					text-align: end;
					.info {
						@include buttons;
						font-size: 14px !important;
						width: 15%;
					}
					.info:hover {
						background: $accent;
						color: $white;
					}
					.buttonSearch {	
						@include filled-buttons;					
						border-radius: 5px;
						width: 15%;
						font-size: 14px !important;
						margin-left: 10px;
					}
				}
			}
		}
		
	}
}
@media only screen and (min-width:1024px) and (max-width: 1366px){
	.main-container{ 
		.main-section{
			mat-card{
				width: 100%;
				form{
					.left-section{ 
						.two{
							div:first-child{ 
								mat-select{
									width: 13.55em; 
								}
							}
							div:last-child{ 
								input{
									width: 28.9em;
								}
							}
						}
						.three{
							div{
								div:nth-child(1){
									mat-select{
									    width: 9em;
										margin-top: 21%;
										margin-left: -46%;
										margin-bottom: 31%;
									}
								}
								div:nth-child(2){
									mat-select{
										width: 15em;
										margin-top: 23%;
										margin-left: -38%;
										margin-bottom: 34%;
									}

								}
								div:last-child{
									div{
										::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
										    margin-top: 15px !important;
    										margin-left: -33% !important;
    										width: 143% !important;
										}
									}
								}
								
							}
						}
						.four{
							div{
								.dateQualifier{
									mat-select{
									width: 9em !important;
									margin-top: 24% !important;
    								margin-left: -57% !important;
    								margin-bottom: 34.5% !important;
									}
								}
								div:nth-child(2){
									mat-select{
										width: 15em;
    									margin-top: 28%;
    									margin-left: -45%;
    									margin-bottom: 41%;
									}

								}
								div:last-child{
									div{
										::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
										    margin-top: 24px !important;
    										margin-left: -42% !important;
    										width: 143% !important;
										}
									}
								} 
							}
						}
						.six{
							mat-select{
								width: 44em;
							}
						}
						
					}
					.right-section{
						margin: 0 0 0 9%;

					}
				}
			}
		}
	}

}
.search-result-desktop{	
	.gridView {
		margin: 0% 30px 5% 20px;
		border-radius: 0px;
		box-shadow: 0px 0 10px 1px rgba(0.24, 0.24, 0.24, 0.24);
		
		p:nth-child(1) {
			font-size: 46px;
			color: $crowley_font;
			margin: 16px 0px 30px 0px;
		}
		::ng-deep .mat-sort-header-button {
		
			text-align: left;
		}
		::ng-deep .mat-sort-header-button:nth-child(3) {
		
		margin:2px 0 0 0;
		}
		button {
			color: $accent;
			float: right;
			font-size: 14px;
			margin: -4% 0% 3% 0%;
			font-weight: 500;
			cursor: pointer;
			background-color: $white;
			letter-spacing: 1px;
		}
		.details-table {
			margin: 10px 10px 10px 0px;
			box-shadow: none;
			width: 100%;
		
			th {
			color: $accent;
			padding: 10px 10px 10px 0px;
			width: 10%;
			//   text-align: center;
			vertical-align : top;
		table-layout:fixed;
		word-wrap : break-word;
		text-align:right;
			}
		
			
			tr:hover {
			cursor: pointer;
			background-color: $crowley_gray;
			}
		
			td {
			padding: 10px 10px 10px 0px;
			word-break: break-all;
			width: 10px;
		
			.progress {
				height: 12px;
				border-radius: 24px;
				border: solid 1px gray;
				::ng-deep .mat-progress-bar-fill::after {
				background-color: $accent;
				}
		
				::ng-deep .mat-progress-bar-buffer {
				// border: solid 0.5px black;
				background-color: $white;
				}
		
				::ng-deep .mat-progress-bar {
				border-radius: 3px;
				border: solid 1px$accent;
				width: 80%;
				height: 10px;
				}
			}
			}
			td:not(:nth-child(5)){
				white-space: nowrap;
			}
			
			th:nth-child(5){
				width: 40%;
			}
			th:nth-child(4){
				width: 10%;
			}
		
			
		}
		.messageText {
			font-size: 24px;
			font-style: italic;
			text-align: center;
			margin: 5% 10px 1%;
		}
		.totalRecord {
			display: flex;
			justify-content: space-between;	
			.count {
			  font-size: 16px;
			  color: $accent;
			  font-weight: normal;
		
			  span {
				font-weight: 500;
			  }
			}
		
		  }
	}
}
.search-result-mobile{ display: none;}
.main-container1{ display: none;}
@media only screen and (max-width:812px) {	
	.footer-container {bottom: 75px !important;}
	.main-container{display: none;}
	.main-container1 {
		display: block;			
		.main-section {
			width: 100%;
			margin-top: 60px;
			margin-bottom: 125px;
			form {
				width: 100%;				
			}
			mat-card {
				background: $white;				
				width: 100%;
				box-shadow: none;
				padding: 15px;
				border-radius: none;
			
				.first-section {
					p:nth-child(1) {
						font-size: 32px;
						color: $crowley_font;
						margin: 0px;
						letter-spacing: 0;
						line-height: 1em;
					}
					button {
						color: $accent;						
						font-weight: 500;
						letter-spacing: 1px;
						cursor: pointer;
						background-color: $white;						
						border: 1px solid #0957a3 !important;
						width: 100%;
						margin-top: 20px;
						padding: 12px;
						border-radius: 5px;
					}
				}
				 ::ng-deep.mat-form-field-ripple {
					background-color: $black !important;
					caret-color: auto;
				}
				::ng-deep .mat-focused .mat-form-field-label {
					color: $black !important;
				}
				::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
					
					background-color: $crowley_border_gray; 
				} 
				.priority{
					padding: 0 15px;
					margin: 20px 0;
					.mat-radio-group{
						.mat-radio-button{ width: 50%;}
					}
				}
				.left-section {
					width: 100%;
					margin-top: 10px;
					p {
						color: $black;
						font-size: 15px;
					}
					p:nth-child(1) {
						margin: 0px 0px 6px 0px; 
					}
					.mat-expansion-panel{
						margin-bottom: 15px;				
						.mat-expansion-panel-header{
							padding: 0 15px !important;
							font-size: 18px;
							font-weight: 500;
							background-color: #f3f3f3;
							&.mat-expanded{
								background-color: #f3f3f3;
								border-radius: 5px 0px 0px;
								margin-bottom: 20px;
							}
						}
						::ng-deep .mat-expansion-panel-body {
							padding: 0 15px !important;
						}	
						.mat-expansion-panel-header-title, .mat-expansion-panel-header-description{
							display: block !important;
							margin-right: 0px !important;
						}
						
					}
					.padding-lr{
						padding: 0 15px;
					}
					.advance-search-type-1 {						
						margin-bottom: 30px;
						div {							
							mat-select {
								//m
								width: 15em;
								padding: 0px 0px 5px 0px;
								border-bottom: solid 0.5px $crowley_border_gray;
								margin-top: 10px;
								::ng-deep.mat-select-placeholder {
									color: black;
									font-size: 14px;
								}
							}
						}
						div:last-child {
							input {
								width: 100%;
								border-bottom: solid 0.5px $crowley_border_gray;
								margin-top: 17px;
							}
						}
					}
					.advance-search-type-2 {
						display: block;						
						mat-select {							
							padding: 0px 0px 5px 0px;
							border-bottom: solid 0.5px $crowley_border_gray;
							margin-top: 10px;
						}
						div{
							width: 100%;
							margin-bottom: 30px;						
						} 
						
					}
					.advance-search-type-3{	
						margin-bottom: 15px;
						&__one{
							display: flex;
							margin-top: 15px;
							.dateQualifier {
								width: 30%;
								margin-right: 5%;
								mat-select {
									width: 100%;
									padding: 0px 0px 5px 0px;
									border-bottom: solid 0.5px $crowley_border_gray;									
								}
							}
							.dateQualifierValue {
								width: 65%;
								margin-top: 0;
								mat-select {
									width: 100%;
									padding: 0px 0px 5px 0px;
									border-bottom: solid 0.5px $crowley_border_gray;									
								}
							}
						}					
						div {
							// margin-bottom: -16px;
							// display: flex;
							p {
								margin: 0px 0px 10px 0px;
							}
							
						}
							div:last-child {								
								mat-form-field {
									width: 100%;
									margin-top: 10px;
								}
								::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
									margin-top: 2.5px;
									
								}
								mat-datepicker-toggle,
								mat-icon {
									color: $black;
									margin-left: -24px;
									width: 24em;
								}
							}
							.relative {
								margin-bottom: 30px;
								mat-select {
									width: 100%;
									border-bottom: solid 0.5px $crowley_border_gray;
									margin-top: 10px;									
								}
			
								mat-form-field {
									margin-top: 0px !important;
								}
							}												
					}
					.advance-search-type-4{
						margin-bottom: 20px;
						mat-form-field {
							width: 100%;
						}

					}
					.advance-search-type-5 {
						margin-bottom: 30px;
						mat-select {
							width: 100%;
							padding: 0px 0px 5px 0px;
							border-bottom: solid 0.5px $crowley_border_gray;							
						}
					}
					.mt-advance-search{
						::ng-deep .location-col-1{
							input{
								margin-top: 12px !important;
							}
						}
					}					
				}
			}		
		}
		.footer-button{
			display: flex;
			justify-content: center;
			width: 100%;
			background: #fff;
			position: fixed;
			bottom: 45px;
			-webkit-box-shadow: 0px -4px 4px rgb(0 0 0 / 20%);
			-moz-box-shadow: 0px -4px 4px rgb(0 0 0 / 20%);
			box-shadow: 0px -4px 4px rgb(0 0 0 / 20%);
			padding: 12px 0;					
				.info {
					@include buttons;
					font-size: 14px !important;
					width: 11em;
					margin-right: 20px;
				}
				.info:hover {
					background: $accent;
					color: $white;
				}
				.buttonSearch {	
					@include filled-buttons;					
					border-radius: 5px;
					width: 11em;
					font-size: 14px !important;
					margin-left: 10px;
				}					
		}
		td:not(:nth-child(5)){
			white-space: nowrap;
		}
		
		th:nth-child(5){
			width: 40%;
		}
		th:nth-child(4){
			width: 10%;
		}
	
		
	}
	.search-result-desktop{
		display: none;
	}
	.search-result-mobile{
		display: block;
		.crowley-adv-listview{
			margin-top: 20px;
			margin-bottom: 10px;
			box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 13px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%) !important;
			.mat-list-base{
				padding-top: 0px;
				.mat-list-item, .mat-list-option{
					border-bottom: 1px solid $crowley_warmGrey;
					padding-bottom: 10px;
					margin-bottom: 10px;
					height: auto !important;
					position: relative;			
					&:last-child{ border-bottom: none;}
					.two-col-item{
						display: flex;
						justify-content: space-between;
					}
					.item{
						h4{ color: $crowley_font; font-size: 13px; margin-bottom: 0px !important;}
						P{margin-bottom: 5px;}						
					}
					.icon{
						mat-icon {
							position: absolute;
							right: -22px;
							top: 35px;
						}
					  }
				}
			}
			::ng-deep .mat-list-base .mat-list-item ::ng-deep .mat-list-item-content, ::ng-deep .mat-list-base .mat-list-option ::ng-deep .mat-list-item-content{
				display: block !important;
				padding: 0 !important;
				width: 95%;
			}			
		}
		::ng-deep .mat-paginator-container{
			margin-bottom: 40px;
		}
		.gridView {
			width: 100%;
			margin-top: 60px;
			background: $white;					
			box-shadow: none;
			padding: 15px;
			border-radius: none;
			margin-bottom: 90px;			
			p:nth-child(1) {
				font-size: 32px;
				color: $crowley_font;
				margin: 0px;
				letter-spacing: 0;
				line-height: 1em;
			}
			::ng-deep .mat-sort-header-button {
			
				text-align: left;
			}
			::ng-deep .mat-sort-header-button:nth-child(3) {
			
			margin:2px 0 0 0;
			}
			button {
				color: $accent;						
						font-weight: 500;
						letter-spacing: 1px;
						cursor: pointer;
						background-color: $white;						
						border: 1px solid #0957a3 !important;
						width: 100%;
						margin-top: 20px;
						padding: 12px;
						border-radius: 5px;
			}			
			.messageText {
				font-size: 24px;
				font-style: italic;
				text-align: center;
				margin: 30px 50px;
				line-height: 1em;
			}
			.totalRecord {
				display: flex;
				justify-content: space-between;				
				margin-top: 20px;
				margin-left: 15px;
				.count {
				  font-size: 16px;
				  color: $accent;
				  font-weight: normal;
			
				  span {
					font-weight: 500;
				  }
				}
			
			  }
		}
	}
}

