<router-outlet></router-outlet>
<!-- <app-loader></app-loader> -->
<div class="bg">

  <!-- <video class="h-100" poster="https://mdbootstrap.com/img/Photos/Others/background.jpg" playsinline autoplay muted loop>
    <source src="https://mdbootstrap.com/img/video/animation.mp4" type="video/mp4">
</video>
Needed for video, uncomment-->

</div>
<!--<div class="bg">
<ng-container *transloco="let t">
  <h1>{{ t('hello') }}</h1>
</ng-container>

<mat-form-field apppearance="fill">
  <mat-select [(value)]="selected" placeholder="Language" (selectionChange)="changeLang($event.value)">
    <mat-option value='en'>English</mat-option>
    <mat-option value='es'>Spanish</mat-option>
  </mat-select>
</mat-form-field>


<span>{{ today | translocoDate}}</span>



</div>-->

