@import "src/crowley-themes.scss";

::ng-deep .mat-dialog-container {
  width: 80% !important;
}

mat-dialog-content {

  padding: 5px 0px 6px 0px;
  margin: 0px 0 -42px 0;

  p {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.29px;
    margin: 0px 84px 30px 0px;;

    width: 264px;
  }
}

mat-dialog-actions {
  margin: 0 auto;
  padding: 23px 0 0px 2px;

  button:nth-child(1) {
    border-radius: 5px;
    background-color: $accent;
    width: 40%;
    color: $white;
  }
}

@media only screen and (max-width:812px) {
  ::ng-deep .mat-dialog-container {
    width: 100% !important;
  }
.mat-dialog-content{
  margin: 0 0 35px 0;
  width: auto;
}
}